# ignore build artifacts
build/** linguist-vendored
*.exe linguist-vendored
*.o linguist-vendored
*.gch linguist-generated
*.swp linguist-generated

# override header classification
include/*.h linguist-language=C
tests/**/*.c linguist-language=C
